<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>

	
     
        
      <bean id="iportMastersDelegate" class="com.merrill.examples.framework.client.delegate.DefaultDelegate"> 
    	<property name="service">
    		<ref bean="iportMastersServiceProxy"/>
    	</property>
    	<property name="module" value="iport"/>
    	<property name="subModule" value="masters"/>
    	<property name="delegateRequestMap">
			<map>
				<entry key="getPorts"  value="java.lang.String"/>
				<entry key="getPortsStartingWithName"  value="java.lang.String"/>
				<entry key="getAllVesselTypes" value=""/>
				<entry key="findPort"  value="java.lang.String"/>
				<entry key="findVesselType" value="java.lang.String"/>
				<entry key="getCompanyPorts" value=""/>
				<entry key="savePort" value="com.merrill.examples.vo.iport.masters.PortVO"/>
				
			</map>
		</property>
     </bean>
     
     
     <bean id="iportMastersVesselTypeUIController" class="com.merrill.examples.client.controller.iport.masters.VesselTypeController"> 
    	<property name="mastersDelegate">
    		<ref local="iportMastersDelegate"/>
    	</property>
    	
     </bean>
     
     
      <bean id="iportMastersPortUIController" class="com.merrill.examples.client.controller.iport.masters.PortController"> 
    	<property name="mastersDelegate">
    		<ref local="iportMastersDelegate"/>
    	</property>
    	
     </bean>
     
     
     

</beans>
